.screen_part2__music_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
}
.screen_part2__music_title_img {
  width: 280px;
  height: 280px;
  border-radius: 20px;
  box-shadow: 0px 5px 15px 1mm gray;
}
.screen_part2__music_title_text {
  padding-top: 50px;
  padding-bottom: 5px;
  font-weight: 700;
  font-size: 25px;
}
.screen_part2__music_title_subtext {
  opacity: 0.5;
  font-size: 17px;
  padding-bottom: 30px;
}

.screen_part2__music_range_text {
  display: flex;
  width: 90%;
  justify-content: space-between;
  font-size: 13px;
  opacity: 0.6;
}

.screen_part2__music_range {
  width: 90%;

  accent-color: black;
}

.screen_part2_btns {
  width: 80%;
  padding: 60px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.small {
  opacity: 0.1;
}

.large {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 30px;
  border-radius: 50%;
  box-shadow: 0px 3px 20px 5px gray;
}
